# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# IDE files
.vs/
.vscode/
*.csproj
*.unityproj
*.sln
*.user

# OS
.DS_Store
Thumbs.db
/.idea/.idea.Earth_Climate_Visualisation/.idea/.gitignore
/.idea/.idea.Earth_Climate_Visualisation/.idea/encodings.xml
/.idea/.idea.Earth_Climate_Visualisation/.idea/indexLayout.xml
/.idea/.idea.Earth_Climate_Visualisation/.idea/vcs.xml
